xerparser==0.13.9
html-sanitizer>=2.2.0
pandas>=2.2.0
openpyxl>=3.1.5
plotly>=5.18.0
streamlit>=1.42.0
openai>=1.0.0
watchdog>=4.0.0
JPype1>=1.4.0
mpxj>=1.4.0
python-dateutil
pillow>=11.0.0
lxml_html_clean>=0.4.3
flask>=3.0.0
gunicorn>=21.2.0
pdfplumber>=0.11.0
